button{
    background-color: rgb(221, 46, 46);
    color: white;
    border-radius: 0 10rem 10rem 0;
    padding: 15px 20px;
    border: none;
}

input{
    border-radius: 10rem 0 0 10rem;
    background-color: rgb(238, 238, 238);
    color: black;
}

/* remove blue outline */
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}